
<div class="text-center">
  <form [formGroup]="loginForm" class="form-signin" (ngSubmit)="login()">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>


    <mat-form-field class="example-full-width">
      <input matInput placeholder="User Name" maxlength="50" [formControl]="f.email" required>
      <mat-error *ngIf="f.email?.errors?.required">User Name is required</mat-error>

    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Password" maxlength="20" [formControl]="f.password" type="password" required>
      <mat-error *ngIf="f.password?.errors?.required">Password is required</mat-error>

    </mat-form-field>

    
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">© 2020</p>
  </form>

</div>
