
<div class="container">
  <h2 class="form-group">Add Contact</h2>
  <form [formGroup]="loginForm" class="form-horizontal" (ngSubmit)="login()">

    <p [ngClass]="{ 'has-error': isSubmitted && formControls.firstName.errors }">
      <input type="text" placeholder="First Name" formControlName="firstName">
    </p>

    <div *ngIf="isSubmitted && formControls.firstName.errors" class="has-danger">
      <div *ngIf="formControls.firstName.errors.required">First Name is required</div>
    </div>

    <p [ngClass]="{ 'has-error': isSubmitted && formControls.lastName.errors }">
      <input type="text" placeholder="Last Name" formControlName="lastName">
    </p>

    <div *ngIf="isSubmitted && formControls.lastName.errors" class="has-danger">
      <div *ngIf="formControls.lastName.errors.required">Last Name is required</div>
    </div>


    <p [ngClass]="{ 'has-error': isSubmitted && formControls.email.errors }">
      <input type="email" placeholder="Email" formControlName="email">
    </p>

    <div *ngIf="isSubmitted && formControls.email.errors" class="has-danger">
      <div *ngIf="formControls.email.errors.required">Email is required</div>
    </div>


    <p [ngClass]="{ 'has-error': isSubmitted && formControls.phoneNumber.errors }">
      <input type="text" placeholder="Last Name" formControlName="phoneNumber">
    </p>

    <div *ngIf="isSubmitted && formControls.phoneNumber.errors" class="has-danger">
      <div *ngIf="formControls.phoneNumber.errors.required">Phone Number is required</div>
    </div>

    <p>
      <input type="submit" class="btn btn-default" value="Add">
    </p>
  </form>
</div>
