
  <div class="container">
    <h1>Add Contact</h1>
    <button type="button" [routerLink]="['/contact']" mat-raised-button color="primary">Back</button>
    <div class="row h-100 justify-content-center align-items-center" *ngIf="loginForm">
      <div class="col-10 col-md-8 col-lg-6">
        <!-- Form -->
        <form class="form-example" [formGroup]="loginForm" (ngSubmit)="AddContact()">



          <!-- Input fields -->
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="First Name" maxlength="50" [formControl]="f.firstName" required>
              <mat-error *ngIf="(f.firstName?.errors?.required  || f.firstName?.errors?.whitespace) && isSubmitted">First Name is required</mat-error>

            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Last Name" maxlength="50" [formControl]="f.lastName" required>
              <mat-error *ngIf="(f.lastName?.errors?.required || f.firstName?.errors?.whitespace) && isSubmitted">Last Name is required</mat-error>

            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Email" maxlength="50" [formControl]="f.email" required>
              <mat-error *ngIf="f.email?.errors?.required && isSubmitted">Email is required</mat-error>
              <mat-error *ngIf="f.email?.errors?.email && isSubmitted">Valid email is required</mat-error>


            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Phone Number" maxlength="10" [formControl]="f.phoneNumber" required>
              <mat-error *ngIf="f.phoneNumber?.errors?.required && isSubmitted">Phone Number is required</mat-error>
              <mat-error *ngIf="f.phoneNumber?.errors?.pattern && isSubmitted">Phone number should be 10 digit number</mat-error>


            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-checkbox class="example-margin" [formControl]="f.status">Ative</mat-checkbox>

          </div>
          <button type="submit"  mat-raised-button color="primary">Add Contact</button>

        </form>
        <!-- Form end -->
      </div>
    </div>
  </div>
